/* OVERALL */

.fr {
	float: right;
}

.fl {
	float: left;
}

/* MAIN */

main {
    background: lightgrey;
    height: 100%;
}

/* HEADER */

header ul li {
	display: inline;
	padding: 15px;
}

header {
	height: 50px;
	background-color: lightblue;
}

header nav ul {
    position: relative;
    top: 15px;	
}

/* FOOTER */

footer {
	height: 50px;
	width: 100%;
	background-color: lightblue;
}

footer section {
	padding: 15px;
}